.GraphPluginChoiceButton {
    
    background-color: rgb(45, 43, 43);
    color:white;
    text-align:centre;
    width: 45%;
    bottom:10%;
    left: 40%;
    width:auto;
    height:auto;
    

}


button:active {
    transform: translateY(5px);
}
